@font-face {
    font-family: 'Bebas'; /*a name to be used later*/
    src: url('https://www.dropbox.com/s/8njlhu0uybf9oz8/BEBAS___.TTF?dl=1'); /*URL to font*/
}
body {
    background-color: #f6f6f4;
    margin: 0;
    padding: 0;
}
section, header > div, footer > div {
    margin: 0 auto;
    width: 940px;    
}
/*-----------------------------*/
.banner {
    float: right;
}
section div {
    background-color: gray;
}
section ul {    
    display: inline-block;            
}
section li { 
    margin-right: 20px;
    display: inline-block;    
    font-family: 'Bebas';
}
section input {    
    float: right;           
    background: white url(https://www.dropbox.com/s/1uesd8pstust827/magnifier.png?dl=1) right no-repeat;
    border-radius: 20px;
    border: 0;
    padding: 5px;
    width: 100px;         
    margin-top: 12px;
}
.clear {    
    clear: both;
}
nav{
    background-color: #c3c3c3;
}





/*------------------------------*/
header ul {
    padding-left: 0;
}
header li {
    display: inline-block;
    color: gray;
    margin-right: 10px;
    padding: 20px 0;
}
/*---------------------------------------*/
header form {
    color: white;
    float: right;
    padding: 15px 0;
}
header input {
    border-radius: 20px;
    background-color: #4a4a4a;
    border: 0;
    padding: 5px 15px;
    outline: none;
}
header input[type='submit'] {
    background-color: #ea6a53;
    color: white;    
}
header a {
    color: #ea6a53;
}



header, footer {
    background-color: #2d2d2d;
}
